/* ----------- Galaxy Grand2 ----------- */
/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 360px) 
  and (max-device-width: 615px) {

}

/* Portrait */
@media 
 (min-device-width: 360px) 
  and (max-device-width: 360px) 
  and (orientation: portrait) { 

.arabic #connect .expirationLabel {
	margin-left: 0;
	margin-right: 21px;
	width: 107px !important;
}

.arabic #connect .consumptionDetails .value {
	float: left;
	margin-right: 0px;
	margin-left: 6px;
	width: 71px;
	text-align: right;
	font-size: 14px;
}

.consumptionDetails {
	display: inline-block;
	width: 68%;
	float: right;
}


.arabic #btnPurchaseQuota {
    margin-top: 10px;
}

.arabic div#GetLocation .label {
    width: 100% !important;
    position: absolute;
    margin-left: -62% !important;
}

#PagesViewContainer {
	-webkit-transform: translate3d(0, 0px, 0px);
	transform: translate3d(0,0,0);
	-webkit-transition-duration: 400ms;
	transition-duration: 25ms;
	z-index: 5;
	background: #eee;
	box-shadow: none;
}

#sideBarCont {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	overflow-y: auto;
	background: #fff;
	-ms-overflow-style: none;
	padding-left: 5%;
	-webkit-transition-duration: 400ms;
	transition-duration: 700ms;
	border: none;
	outline-width: 0;
}

}

/* Landscape */
@media 
  (max-device-width: 615px) 
  and (orientation: landscape) { 

}