<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
		<title>SayterWiFi</title>
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="viewport" content="width=device-width, height=device-height" />

		<link href="css/switch.min.css" rel="stylesheet" type="text/css">
        <link href="css/index.css" 		rel="stylesheet" type="text/css" >
        <title>Hello World</title>
    </head>
	<body ng-app="WIFIApp" id="mainBody">
	<div id="busyIndicatorCont" ng-show="$root.showBusyIndicator()">
		<div class="showbox">
			<div class="loader">
				<svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="3" stroke="#679d01"></circle>
    </svg>
			</div>
		</div>
	</div>
	<div id="popupCont">
            <div id="popup">
                <div class="popupContainar" ng-controller="popupCtrl as vm">
                <div ng-include="vm.template()"></div>
                </div>
            </div>
    </div>
	<div id="blurCover"></div>
	<div id="sideBarCont" ng-controller="sideBarCtrl as vm"
		ng-class="vm.getClass()">
		<div class="item" ng-click="item.click($event, $index);"
			ng-repeat="item in vm.items" ng-style="{'color': item.color}">
			<!-- <i ng-class="item.className"></i> -->
			<img alt="Description" ng-src="{{item.src}}">
			<div>{{item.text | translate}}</div>
		</div>
	</div>
	<div id="PagesViewContainer"
		ng-class="{'arabic':$root.langClassName()}">
		<div id="sideBarBlack"></div>
		<div class="header" ng-controller="headerCtrl as vm" 
			ng-style="{'background-color':vm.background(), 'color':vm.color()}">
			<div ng-switch on="vm.OS()">
				<div ng-switch-when="Windows Phone">
		            <div class="backBtnContainar" ng-click="vm.toggleSideBar()" ng-show="vm.backBtnVisible()">
						<img class="backBtn wpButton" src="images/menu.png">
					</div>
					<div class="backBtnContainar" ng-click="vm.goBack()" ng-show="vm.backBtnForBackVisible()">
						<img class="forBack wpButton" src="images/header/backBtn.png">
					</div>
					<div class="headTitle" ng-show="vm.pageNameVisible()">
						{{vm.title() | translate}}</div>
					<div class="helpIconContainar wpButton" ng-click="vm.togglePopup();$event.stopPropagation();" ng-show="vm.moreBtnVisible()">
						<img class="helpIcon wpButton" src="images/header/help256xw.png">
					</div>
	        	</div>
				<div ng-switch-default>
					<div class="backBtnContainar" ng-touchstart="vm.toggleSideBar()" ng-show="vm.backBtnVisible()">
						<img class="backBtn wpButton" src="images/menu.png">
					</div>
					<div class="backBtnContainar" ng-touchstart="vm.goBack()" ng-show="vm.backBtnForBackVisible()">
						<img class="forBack wpButton" src="images/header/backBtn.png">
					</div>
					<div class="headTitle" ng-show="vm.pageNameVisible()">
						{{vm.title() | translate}}</div>
					<div class="helpIconContainar wpButton" ng-touchstart="vm.togglePopup();$event.stopPropagation();" ng-show="vm.moreBtnVisible()">
						<img class="helpIcon wpButton" src="images/header/help256xw.png">
					</div>
					<!--i class="mdi mdi-help-circle moreBtn wpButton"
						ng-click="vm.togglePopup();$event.stopPropagation();" ng-show="vm.moreBtnVisible()"></i-->
				</div>
			</div>
		</div>
		<div ng-view="" onload="$root.ngViewLoaded()"></div>
	</div>

	<script type="text/javascript" src="cordova.js"></script>
	<script src="libs/winstore-jscompat.js"></script>
	<script src="libs/lodash.min.js"></script>
	<script src="libs/fastclick.js"></script>
	<script src="libs/tabs.js"></script>
	<script src="libs/uatools.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-route.js"></script>
	<script src="libs/d3.min.js"></script>
	<script src="libs/pie-chart.min.js"></script>
	<script src="libs/angular-touch.min.js"></script>
	<script src="libs/angular-animate.min.js"></script>
	<script src="libs/ng-cordova.min.js"></script>
	<script src="libs/angular-aria.min.js"></script>
	<script src="libs/angular-material.js"></script>
	<script src="libs/angular-translate.js"></script>
	<script src="libs/loader-static-files.js"></script>
	<script src="libs/openfb.js"></script>
	<script src="libs/ngopenfb.js"></script>
	<script src="libs/angular-simple-logger.min.js"></script>
	<script src="libs/angular-google-maps.min.js"></script>
	<script src="libs/angular-storage.min.js"></script>
	<script src="libs/ng-twitter-api.min.js"></script>
	<script src="libs/sha1.js"></script>
	<script src="libs/ngTouch.js"></script>
	<!-- <script src="libs/base.min.js"></script>
	<script src="libs/ui.min.js"></script> -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<script src="js/index.js"></script>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<script src="config/mapping.js"></script>
	<script src="config/config.js"></script>
	<script src="config/adapterConstants.js"></script>
	<script src="config/routes.js"></script>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<script src="js/com/directives/backbutton.js"></script>
	<script src="js/com/directives/ngButton.js"></script>
	<script src="js/com/directives/card.js"></script>
	<script src="js/com/controllers/header.js"></script>
	<script src="js/com/controllers/popupCtrl.js"></script>
	<script src="js/com/controllers/sideBarCtrl.js"></script>
	<script src="js/com/plugins/NativePageTransitions.js"></script>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<script src="js/services/adapterCallers/adapterService.js"></script>
	<script src="js/services/adapterCallers/profileService.js"></script>
	<script src="js/services/adapterCallers/notificationService.js"></script>
	<script src="js/services/adapterCallers/locationService.js"></script>
	<script src="js/services/adapterCallers/logService.js"></script>

	<script src="js/services/handlers/initializationHandler.js"></script>
	<script src="js/services/handlers/deviceInfoHandler.js"></script>
	<script src="js/services/handlers/languageHandler.js"></script>
	<script src="js/services/handlers/settingHandler.js"></script>
	<script src="js/services/handlers/pagesHandler.js"></script>
	<script src="js/services/handlers/localNotificationHandler.js"></script>
	<script src="js/services/handlers/sideBarHandler.js"></script>
	<script src="js/services/handlers/popupHandler.js"></script>
	<script src="js/services/handlers/wifiHandler.js"></script>
	<script src="js/services/handlers/triggeringHandler.js"></script>
	<script src="js/services/handlers/connectionBusinessHandler.js"></script>
	<script src="js/services/handlers/instagramHandler.js"></script>
	<script src="js/services/handlers/pushNotificationsHandler.js"></script>
	<script src="js/services/handlers/PushAppRealmChallengeHandler.js"></script>
	<script src="js/services/handlers/exceptionHandler.js"></script>
	<script src="js/services/handlers/locationHandler.js"></script>
	<script src="js/services/handlers/mapMarkersHandler.js"></script>
	<script src="js/services/handlers/busyIndicator.js"></script>
	<script src="js/services/handlers/facebookHandler.js"></script>
	<script src="js/services/handlers/twitterHandler.js"></script>
	<script src="js/services/handlers/tabHandler.js"></script>
	<script src="js/services/handlers/notificationHandler.js"></script>
	<script src="js/services/handlers/campaignHandler.js"></script>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<div id="dynamicScripts" style="display: none">
		<script src="pages/consumption/consumption.js"></script>
		<script src="pages/connect/connect.js"></script>
		<script src="pages/home/home.js"></script>
		<script src="pages/maps/maps.js"></script>
		<script src="pages/moreDetails/moreDetails.js"></script>
		<script src="pages/notification/notification.js"></script>
		<script src="pages/register/register.js"></script>
		<script src="pages/rewards/rewards.js"></script>
		<script src="pages/notificationMoreDetails/notificationMoreDetails.js"></script>
		<script src="pages/rewardsMoreDetails/rewardsMoreDetails.js"></script>
		<script src="pages/settings/settings.js"></script>
		<script src="pages/verification/verification.js"></script>
		<script src="pages/tutorial/tutorial.js"></script>
		<script src="pages/about/about.js"></script>
	</div>
</body>
</html>
