<div id="rewards" class="content">
	<div class="tabs">
		<div class="tabsHead" ng-click="vm.onTabChanged()">
			<div id ="facebook" 	class="head active">{{ 'getRewardedFacebookTab' 	| translate }}</div>
			<div id ="twitter" 		class="head">{{ 'getRewardedTwitterTab' 	| translate }}</div>
			<div id ="instagram" 	class="head">{{ 'getRewardedInstagramTab' 	| translate }}</div>
			<div id ="barID" class="bar"></div>
		</div>
		<div id ="tabsContent" class="tabsContent">

			<div ng-switch on="vm.isFaceBookRegistered()" class="tabContent">
				<div ng-switch-when="false" class="Guest">
					<h3>{{ 'getRewardedNonLogedinLabel' | translate }}</h3>
					<p>{{ 'getRewardedNonLogedinBrief' | translate }}</p>
					<div class="FBLoginbtnContainer">
						<div ng-button id="btnLoginFB" class="LoginFB"
							ng-click="vm.fbLoginBtn();$event.stopPropagation();">
							<!-- <img src="images/sign-in-facebook.ico" /> -->
							{{'getRewardedFBLogin' | translate }}
						</div>
					</div>
					<!--div class="btnContainer DonotHaveAccount" ng-click="vm.fbBtn();">
						<div ng-button id="btnDonotHaveAccount">
						{{'getRewardedNonLogedinDontHaveAccount' | translate }}</div>
					</div-->
				</div>

				<div ng-switch-when="true" class="tabContent facebook">

					<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
						<div class="imgCont">
							<img src="images/campaigns/1.jpg" />
						</div>
						<div class="txtCont">
							<h3 class="label">{{'getRewardedone' | translate }}</h3>
							<span class="subDetails">{{ 'getNotificationTouch' |
								translate }}</span> <span class="Expires">{{'getRewardedExpires'
								| translate }} 12/12/2015</span>
						</div>
						<div class="socialAction Facebook"
							ng-click="vm.fbShareBtn();$event.stopPropagation();">
							<img src="images/rewards/facebook-icon512.png" /> <span
								class="Follow">{{ 'getRewardedFollow' | translate }}</span>
						</div>
					</div>

					<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
						<div class="imgCont">
							<img src="images/campaigns/1.jpg" />
						</div>
						<div class="txtCont">
							<h3 class="label">{{'getRewardedone' | translate }}</h3>
							<span class="subDetails">{{ 'getNotificationTouch' |
								translate }}</span> <span class="Expires">{{'getRewardedExpires'
								| translate }} 12/12/2015</span>
						</div>
						<div class="socialAction Facebook"
							ng-click="vm.fbShareBtn();$event.stopPropagation();">
							<img src="images/rewards/facebook-icon512.png" /> <span
								class="Follow">{{ 'getRewardedLike' | translate }}</span>
						</div>
					</div>

					<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
						<div class="imgCont">
							<img src="images/campaigns/1.jpg" />
						</div>
						<div class="txtCont">
							<h3 class="label">{{'getRewardedone' | translate }}</h3>
							<span class="subDetails">{{ 'getNotificationTouch' |
								translate }}</span> <span class="Expires">{{'getRewardedExpires'
								| translate }} 12/12/2015</span>
						</div>
						<div class="socialAction Facebook"
							ng-click="vm.fbShareBtn();$event.stopPropagation();">
							<img src="images/rewards/facebook-icon512.png" /> <span
								class="Follow">{{ 'getRewardedPost' | translate }}</span>
						</div>
					</div>

					<!--div class="Nonotificaion">
					<img src="images/rewardsIcon.png" />
					<h3>No rewards yet</h3>
				</div-->

				</div>
			</div>
			<div class="tabContent twitter" ng-switch on = "vm.isTwitterLoggedIn">

				<div ng-switch-when="false" class="Guest">
					<h3>{{ 'getRewardedNonLogedinLabel' | translate }}</h3>
					<p>{{ 'getRewardedNonLogedinBrief' | translate }}</p>
					<div class="twitterLoginbtnContainer">
						<div ng-button id="btnLoginTwitter" class="LoginTwitter"
							ng-click="vm.openTwitter();$event.stopPropagation();">
							<!-- <img src="images/sign-in-facebook.ico" /> -->
							{{'getRewardedTwitterLogin' | translate }}
						</div>
					</div>
					<!--div class="btnContainer DonotHaveAccount" ng-click="vm.fbBtn();">
						<div ng-button id="btnDonotHaveAccount">
						{{'getRewardedNonLogedinDontHaveAccount' | translate }}</div>
					</div-->
				</div>

				<div ng-switch-when="true">

					<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
						<div class="imgCont">
							<img src="images/campaigns/3.jpg" />
						</div>
						<div class="txtCont">
							<h3 class="label">{{'getRewardedone' | translate }}</h3>
							<span class="subDetails">{{ 'getNotificationTouch' |
								translate }}</span> <span class="Expires">{{'getRewardedExpires'
								| translate }} 12/12/2015</span>
						</div>
						<div class="socialAction twitter"
							ng-click="vm.fbShareBtn();$event.stopPropagation();">
							<img src="images/Twitter-icon.png" /><span class="Follow">{{
								'getRewardedRetweet' | translate }}</span>
						</div>
					</div>

					<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
						<div class="imgCont">
							<img src="images/campaigns/3.jpg" />
						</div>
						<div class="txtCont">
							<h3 class="label">{{'getRewardedone' | translate }}</h3>
							<span class="subDetails">{{ 'getNotificationTouch' |
								translate }}</span> <span class="Expires">{{'getRewardedExpires'
								| translate }} 12/12/2015</span>
						</div>
						<div class="socialAction twitter"
							ng-click="vm.fbShareBtn();$event.stopPropagation();">
							<img src="images/Twitter-icon.png" /> <span class="Follow">{{
								'getRewardedRetweet' | translate }}</span>
						</div>
					</div>

					<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
						<div class="imgCont">
							<img src="images/campaigns/3.jpg" />
						</div>
						<div class="txtCont">
							<h3 class="label">{{'getRewardedone' | translate }}</h3>
							<span class="subDetails">{{ 'getNotificationTouch' |
								translate }}</span> <span class="Expires">{{'getRewardedExpires'
								| translate }} 12/12/2015</span>
						</div>
						<div class="socialAction twitter"
							ng-click="vm.fbShareBtn();$event.stopPropagation();">
							<img src="images/Twitter-icon.png" /> <span class="Follow">{{
								'getRewardedRetweet' | translate }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="tabContent Instagram">
			
			<div class="Guest">
					<h3>{{ 'getRewardedNonLogedinLabel' | translate }}</h3>
					<p>{{ 'getRewardedNonLogedinBrief' | translate }}</p>
					<div class="instagarmLoginbtnContainer">
						<div ng-button id="btnLoginInstagram" class="LoginInstagram"
							ng-click="vm.auth();$event.stopPropagation();">
							<!-- <img src="images/sign-in-facebook.ico" /> -->
							{{'getRewardedInstagramLogin' | translate }}
						</div>
					</div>
					<!--div class="btnContainer DonotHaveAccount" ng-click="vm.fbBtn();">
						<div ng-button id="btnDonotHaveAccount">
						{{'getRewardedNonLogedinDontHaveAccount' | translate }}</div>
					</div-->
				</div>
			<div>
			
			<div style="display: none;">
				<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
					<div class="imgCont">
						<img src="images/campaigns/1.jpg" />
					</div>
					<div class="txtCont">
						<h3 class="label">{{'getRewardedone' | translate }}</h3>
						<span class="subDetails">{{ 'getNotificationTouch' |
							translate }}</span> <span class="Expires">{{'getRewardedExpires'
							| translate }} 12/12/2015</span>
					</div>
					<div class="socialAction Instagram"
						ng-click="vm.fbShareBtn();$event.stopPropagation();">
						<img src="images/rewards/instagram-icon512.png" /> <span
							class="Follow">{{ 'getRewardedFollow' | translate }}</span>
					</div>
				</div>

				<div class="rewardsItem wpButton" ng-click="vm.goDetails()">
					<div class="imgCont">
						<img src="images/campaigns/1.jpg" />
					</div>
					<div class="txtCont">
						<h3 class="label">{{'getRewardedone' | translate }}</h3>
						<span class="subDetails">{{ 'getNotificationTouch' |
							translate }}</span> <span class="Expires">{{'getRewardedExpires'
							| translate }} 12/12/2015</span>
					</div>
					<div class="socialAction Instagram"
						ng-click="vm.fbShareBtn();$event.stopPropagation();">
						<img src="images/rewards/instagram-icon512.png" /> <span
							class="Follow">{{ 'getRewardedLike' | translate }}</span>
					</div>
				</div>

				<!--div class="Nonotificaion">
					<img src="images/rewardsIcon.png" />
					<h3>No rewards yet</h3>
				</div-->
</div>
			</div>
		</div>
	</div>
</div>